.form-date {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.form-date__label {
    font-family: monospace, sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 8px;
}

.form-date__input[type="date"] {
    appearance: none;
    color: #1D1D1D;
    font-family:  monospace, sans-serif;
    font-size: 18px;
    border: 2px solid #ECF0F1;
    background: #ECF0F1;
    padding: 4px;
    display: inline-block;
    visibility: visible;
    width: 160px;
}

.form-date__input[type="date"]:focus {
    color: #495057;
    background-color: #FFFFFF;
    border-color: #1976d2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}